<html>
<head>
	<meta charset="UTF-8">
	<title>收藏的问题</title>

	<link rel="stylesheet" href="../static/mycss/modal_out.css">
	<link rel="stylesheet" href="../static/mycss/login.css">
	<link href="../static/bootstrap-combined.min.css" rel="stylesheet">
	<link href="../static/layoutit.css" rel="stylesheet">

	<link href="../static/bootstrap-combined.min.css" rel="stylesheet">
	<link href="../static/layoutit.css" rel="stylesheet">
</head>

<body>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span3">
		</div>
		<div class="span6">
			<div class="hero-unit">
				<h1>
					<strong>你好!</strong>
				</h1>
                <div>&nbsp;</div>
				<p>
					这是您的个人主页, 您可以在此编辑您的个人信息, 也可以在此查看您所参与的问题讨论。点击编辑以编辑您的个人信息。
				</p>
			</div>
			<ul class="nav nav-tabs">
				<li>
					<a>个人信息</a>
				</li>
				<li>
					<a>参与的讨论</a>
				</li>
                <li class="active">
					<a>收藏的问题</a>
				</li>
				<li class="dropdown" >
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">编辑</a>
					<ul class="dropdown-menu">
						<li>
							<a>编辑个人信息</a>
					</ul>
				</li>
			</ul>
            <div>&nbsp;</div>

<div class="page-header" contenteditable="true"><h4><strong>您的收藏 </strong></h4></div>
    <ul>
        <div class="desc">

            <div class="container-fluid">
                 <div class="span1">
                         <img style="width: 42px; height: 42px" src="../media/avatar/default0.jpg" class="img-circle"/>
                 </div>
				 <div class="span10">
                     <a href="#" style="color: #0e0e0e"><strong></strong></a>
                     <p style="color: #0e0e0e" class="pl">&nbsp;</p>
                 </div>
			</div>
            <h4><a ></a></h4>
			<p class="meta">
				 <span class="sub"><a href="#" style="color: #0e0e0e"><strong>&nbsp;&nbsp;</strong></a></span>
				 <span class="date"></span>
                 <span><a href="#" style="color: #0e0e0e">&nbsp;&nbsp;<strong>浏览量：</strong></a></span>
			</p>
        </div>
        <div class="page-header" contenteditable="true"></div>

    </ul>
    <p>您还没有收藏过</p>

        <a target="_self">返回个人主页</a>

		</div>
		<div class="span3">
		</div>
</div>
</div>
</body>
</html>