<html>
<head>
	<meta charset="UTF-8">
	<title>收藏的问题</title>

	<link rel="stylesheet" href="../static/mycss/modal_out.css">
	<link rel="stylesheet" href="../static/mycss/login.css">
	<link href="../static/bootstrap-combined.min.css" rel="stylesheet">
	<link href="../static/layoutit.css" rel="stylesheet">
</head>

<body>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span3">
		</div>
		<div class="span6">
			<div class="hero-unit" style="background-color: rgb(204, 245, 248);">
				<h1>
					<strong>你好!</strong>
				</h1>
                <div>&nbsp;</div>
				<p>
					这是您的个人主页, 您可以在此编辑您的个人信息, 也可以在此查看您所参与的问题讨论。点击编辑以编辑您的个人信息。
				</p>
			</div>
			<ul class="nav nav-tabs">
				<li>
					<a>个人信息</a>
				</li>
				<li>
					<a>参与的讨论</a>
				</li>
                <li class="active">
					<a>收藏的问题</a>
				</li>
				<li class="dropdown" >
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">编辑</a>
					<ul class="dropdown-menu">
						<li>
							<a>编辑个人信息</a>
					</ul>
				</li>
			</ul>
            <div>&nbsp;</div>

<div class="page-header" contenteditable="true"><h4><strong>您的收藏 </strong></h4></div>
    <ul>
        <div class="desc">

            <div class="container-fluid">
                 <div class="span1">
						 <img style="width: 22px; height: 22px" src="../media/avatar/default0.jpg" class="img-circle"/>
				 </div>
				 <p></p>
				 <p></p>
				 <br>
				 <div 
				    <p>浏览量：1   &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; 点赞量：1</p>
					<p>问题内容</p>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;物理学是什么东西，物理学是什么东西，物理学是什么东西，物理学是什么东西，物理学是什么东西，物理学是什么东西</p>
				 </div >
			
				 
			</div>
        
		</div>
		<div class="page-header" contenteditable="true"><h4><strong> </strong></h4></div>
		<div class="desc">

            <div class="container-fluid">
                 <div class="span1">
						 <img style="width: 22px; height: 22px" src="../media/avatar/default0.jpg" class="img-circle"/>
				 </div>
				 <p></p>
				 <p></p>
				 <br>
				 <div 
				    <p>浏览量：1   &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; 点赞量：1</p>
					<p>问题内容</p>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;物理学是什么东西，物理学是什么东西，物理学是什么东西，物理学是什么东西，物理学是什么东西，物理学是什么东西</p>
				 </div >
			
				 
			</div>
        
		</div>
		<div class="page-header" contenteditable="true"><h4><strong> </strong></h4></div>
		<div class="desc">

            <div class="container-fluid">
                 <div class="span1">
						 <img style="width: 22px; height: 22px" src="../media/avatar/default0.jpg" class="img-circle"/>
				 </div>
				 <p></p>
				 <p></p>
				 <br>
				 <div 
				    <p>浏览量：1   &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; 点赞量：1</p>
					<p>问题内容</p>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;物理学是什么东西，物理学是什么东西，物理学是什么东西，物理学是什么东西，物理学是什么东西，物理学是什么东西</p>
				 </div >
			
			</div>
			
        
        </div>
		<div class="page-header" contenteditable="true"><h4><strong> </strong></h4></div>
    </ul>


		</div>
		<div class="span3">
		</div>
</div>
</div>
</body>
</html>