<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>注册</title>
  <link rel="stylesheet" href="../static/mycss/modal_out.css">
  <link rel="stylesheet" href="../static/mycss/login.css">

</head>
<body style="font-weight: 500; ">
<div id="modal-container">
  <div class="modal-background">
    <div class="modal">
      <h2>验证码错误</h2>
      <p>请重新填写信息</p>
      <svg class="modal-svg" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" preserveAspectRatio="none">
								<rect x="0" y="0" fill="none" width="226" height="162" rx="3" ry="3"></rect>
							</svg>
    </div>
  </div>
</div>

<div class="login-box">
  <h2>注册</h2>
  <form id="submit_form"  method="post">
    <div class="user-box">
        <input type="text" required="required" name="username"  autofocus="autofocus" maxlength="128" autocomplete="off">
      <label>用户名</label>
    </div>
    <div class="user-box">
        <input type="password" name="password1" required="required" maxlength="" autocomplete="off">
      <label>密码</label>
    </div>

    <div class="user-box">
        <input type="password" name="password2" required="required" maxlength="" autocomplete="off">
      <label>确认密码</label>
   </div>
   <div class="user-box">
        <input type="email" name="email" required="required" maxlength="" autocomplete="off">
      <label>邮箱地址</label>
    </div>
    <div style="color: ghostwhite;  ">
        <p style="display: inline-block">性别：</p>
        <label for="male">男</label>
        <input type="radio" name="sex" value="男" id="male">
        <label for="female">女</label>
        <input type="radio" name="sex" value="女" id="female">
    </div>
    <div class="user-box">
    </div>

    <a class="submit_button modal_out" id="two" href="#" >
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      注册
    </a>
      <a class="submit_button modal_out" style="float: right">返回登陆</a>
  </form>
</div>

</body>
</html>
